<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <!-- <h3>Hello<input type="hidden" name="displayName" value="">!</h3> -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body class="dash-body">
    <!-- photo -->
    <!-- <div id="steg-photo"><img src="/assets/photo/t-rex" /></div> -->

    <nav class="">
      <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/collector">Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/congrat">Credit Score</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex bg-image">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
              <h2 class="login-heading mb-4">
                Hi <span id="login-name"> <%= data.name %></span> !
              </h2>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <form class="form-signin" >
                      <div class="form-label-group">
                        <input
                          type=""
                          id=""
                          class="form-control"
                          placeholder="amount"
                          required
                        />
                        <button
                          class="depositBtn new-btn btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                          type="submit" 
                        >
                          $ In!
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm">
                    <form class="form-signin">
                      <div class="form-label-group">
                        <input
                          type=""
                          id=""
                          class="form-control"
                          placeholder="amount"
                          required
                        />
                        <button
                          class="btn new-btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                          type="submit"
                        >
                          $ Out!
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <p>Your current balance: $<%= data.currentBalance %></p>
                <p>Goal: $<%= data.cost %></p>
                <p>Goal Name: <%= data.goal %></p>
                <button
                          class="interestRate new-btn btn btn-primary btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2"
                          type="submit" 
                        >
                          Interest Rate!
                        </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="budget-container ">
      <div
        class="time-container card card-signin pb-5 pt-5 px-5 <% if ( parseInt(year) >= parseInt(data.cost)){%>yay<%}else{%> noo <% } %>  "
      >
        <div class="money-container py-5 px-3">
          <h4 style="text-align:center;">In a year: </h4>
          <h2 style="text-align:center;">$<%= year %></h2>

          <p style="text-align:center;" class="yay-msg">
            Congrats! You will save enough for a <%= data.goal %> in a year.
          </p>
          <h4 style="text-align:center;" class="noo-msg">Oh no, <%= data.goal %> is too much! </h4>
          <h4 style="text-align:center;" class="noo-msg">Keep saving or put some more money in dinobank. </h4>
        </div>
      </div>


      <div class="time-container card card-signin pb-5 pt-5 px-5 <% if (parseInt(month) >= parseInt(data.cost)){%> yay <%}else{%> noo <% } %>">
        <div class="money-container py-5 px-3">
          <h4 style="text-align:center;">In a month: </h4>
          <h2 style="text-align:center;">$<%= month %></h2>
          <p style="text-align:center;" class="yay-msg">
            Congrats! You will save enough for <%= data.goal %> in a month.
          </p>
          <h4 style="text-align:center;" class="noo-msg">Oh no, <%= data.goal %> is too much! </h4>
          <h4 style="text-align:center;" class="noo-msg">Keep saving or put some more money in dinobank. </h4>
        </div>
      </div>

      

     

  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
Launch demo modal
</button> -->


<!-- Avatar Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Avatar Unlocked!</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Congratulations! You've unlocked <em>Credit Cactus</em></p>
      <img style="width: 8rem; height: auto; text-align: center;" src="https://images.unsplash.com/photo-1554631221-f9603e6808be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2317&q=80">
      <p> Credit Score facts or something</p>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">View Your Collection</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Good Job!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You earned 10 Eggs for putting $10 toward your goal!</p>
        <img style="width: 10rem; height: auto; text-align: center;" src="https://images.unsplash.com/photo-1577975629051-47d899da5640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="progress-container">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animate" role="progressbar" style="width: 65%" aria-valuenow="100" aria-valuemin="30" aria-valuemax="70"></div>
    </div> 
</div>
<div class="progress-text-container">
  <p> $0</p>
  <p> You're 3/4 there!</p>
  
</div>


<div class="modal fade" id="interestRateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">What is this?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 style="text-align:center;">Compound Interest is 1% a year
        <h5>As long as you keep your month, your money with grow, it will keep adding up with each month and year!</h5>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>

<% if (data.currentBalance >= data.goal) { %>
  <script>$('#exampleModal').modal('show')</script>
<% } %>

<script> 
  $('.depositBtn').click(function() {
    $('#depositModal').modal('show')
  })
  $('.interestRate').click(function() {
    $('#interestRateModal').modal('show')
  })
</script>

   
  </body>
</html>
