<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <h1>hi <%= username %></h1>
    <form action="/deposit" method="post">
        <input name="name" value="<%= username %>" type="text" placeholder="name">
        <input name="deposit"  value="<%= deposit %>" type="text" placeholder="deposit">
        <button>deposit</button>
    </form>

    <!-- <form action="/withdraw" method="post">
        <input name="name" value="<%= username %>" type="text" placeholder="name">
        <input name="withdraw"  value="<%= withdraw %>" type="text" placeholder="withdraw">
        <button>withdraw</button>
    </form> -->
</body>
</html> 